@import '../style/app-defaults.scss';

#wagwoord-password-input-wapper{
    z-index: 9999;
}

#wagwoord-password-input-dialog-div{
    position: absolute;
    z-index: 999999;
    display: none;
}

/* #region #wagwoord-password-input-dialog-ul */

#wagwoord-password-input-dialog-ul{
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    z-index: 9999999;
    color: var(--wagwoord-color);
    background-color: var(--wagwoord-main-color-light);
    border: var(--wagwoord-main-color-lighter) 1px solid;
}

#wagwoord-password-input-dialog-ul li{
    padding: 5px;
}

#wagwoord-password-input-dialog-ul li:hover,
#wagwoord-password-input-dialog-ul li:focus{
    font-display: inherit;
    background: var(--wagwoord-main-color);
}
/* #endregion  */

// #region confirmation dialog
dialog#wwapp-confirmation-dialog-id {
    position: fixed;
    margin: 0;
    right: 1rem;
    top: 1rem;
    left: unset;
    padding: 0.5rem;
    background-color: var(--wagwoord-main-color);
    color: var(--wagwoord-color);
    border: 1px solid var(--wagwoord-main-color-lighter);
    text-align: center;
    p {
        margin: 0;
        padding: 0 0 0.5rem 0;
    }
    input[type=button] {
        margin: 0 0.2em;
        color: var(--wagwoord-color);
        border: none;
        border-radius: 0;
        background-color: var(--wagwoord-color-info);
        font-size: 1em;
        cursor: pointer;
        &.success {
            background-color: var(--wagwoord-color-success);
            &:hover {
                background-color: var(--wagwoord-color-success-secend);
            }
        }
        &.error {
            background-color: var(--wagwoord-color-error);
            &:hover {
                background-color: var(--wagwoord-color-error-secend);
            }
        }
    }
}
// #endregion confirmation dialog