/WebApi/passwords.js
/WebApi/node_modules
/WebApi/testdata
/WebApi/src/database..
/WebApi/.vs
*/node_modules
*.database
*.db
*.sql
*.sqlite
Chrome/libs/components
WebApi/.env
*.log
ww-chrome/dist
WebApi/dist
/WebApi/bin
/WebApi/obj/Debug
/WebApi/src/**/*.js
/WebApi/src/**/*.js.map
/WebApi/.env2
/adroid
android/sqlite-android-3310100/build
android/.idea/.name
android/.idea/gradle.xml
android/.idea/misc.xml
android/.idea/runConfigurations.xml
android/.idea/vcs.xml
android/.idea/codeStyles/codeStyleConfig.xml
android/.idea/codeStyles/Project.xml
