/WebApi/passwords.js
/WebApi/node_modules
/WebApi/testdata
/WebApi/src/database..
/WebApi/.vs
*/node_modules
*.database
*.db
*.sql
*.sqlite
Chrome/libs/components
WebApi/.env
*.log
ww-chrome/dist
WebApi/dist
/WebApi/bin
/WebApi/obj/Debug
/WebApi/src/**/*.js
/WebApi/src/**/*.js.map
/WebApi/.env2
/adroid
