<div ng-controller="SettingsController as vm" class="columns">
    <!-- #region content -->
    <div class="column xl settings settings-content">
        <!-- #region server -->
        <div class="settings-title column full">
            <button class="error right" ng-click="vm.resetSettings()">Restor default Settings</button>
            <h2>Sever Settings</h2>
        </div>
        <div class="column full" ng-include="'/src/settings/settings-sync/settings-sync.controller.html'"></div>
        <!-- #endregion server -->
        <!-- #region passwords -->
        <div id="settings-password-container" class="settings-title column full">
            <button class="error right" ng-click="vm.resetSettings('password')">Restor default password settings</button>
            <h2>Password</h2>
        </div>
        <div class="column full" ng-include="'/src/settings/settings-passowrd/settings-password.controller.html'"></div>
        <!-- #endregion passwords -->
        <!-- #region encryption -->
        <div id="settings-enctyption-container" class="settings-title column full">
            <h2>Encyption</h2>
        </div>
        <div class="column full" ng-include="'/src/settings/settings-encryption/settings-encryption.controlle.html'"></div>
        <!-- #endregion encryption -->
    </div>
    <!-- #endregion content -->
    <!-- #region navigation -->
    <div class="column m">
        <ul class="settings-navigation right">
            <li><u>Scroll to:</u></li>
            <li>
                <a active ng-click="vm.scrollTo()">Server</a>
            </li>
            <li>
                <a ng-click="vm.scrollTo('settings-password-container')">Passwords</a>
            </li>
            <li>
                <a ng-click="vm.scrollTo('settings-enctyption-container')">Encryption</a>
            </li>
        </ul>
    </div>
    <!-- #endregion navigation -->
    <!-- #region dialogs -->
    <dialog id="confirmationDialog-resetSettings">
        <span>Are you sure you want to reset settings</span>
        <div class="dialog-actions">
            <input ng-click="vm.confirmResetSettings(true)" type="button" class="success dialog-action" value="Yes">
            <input ng-click="vm.confirmResetSettings(false)" type="button" class="error dialog-action" value="No">
        </div>
    </dialog>
    <!-- #endregion dialogs -->
</div>