/* #region variables */
:root {
    --wagwoord-main-color: #1e1e1e;
    --wagwoord-main-color-light: #313131;
    --wagwoord-main-color-lighter: #525252;
    --wagwoord-color: aliceblue;
    --wagwoord-color-error-secend: #9c0404;
    --wagwoord-color-error: #5a0b0b;
    --wagwoord-color-success-secend: #006400;
    --wagwoord-color-success: #004d00;
    --wagwoord-color-info: rgb(0, 5, 68);
    --wagwoord-color-info-secend: #000080;
}

/* #endregion variables */