/* #region password-list */
section .password-list {
    max-width: 45rem;
    width: 100%;
    min-width: 214px;
}

.password-list .search-input {
    position: fixed;
    max-width: 45rem;
    width: 100%;
    min-width: 214px;
    background-color: var(--wagwoord-main-color);
}

section .password-list .data-container {
    padding: 1.5rem 0;
}


section .password-list .data-container ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

section .password-list .data-container ul li {
    padding: 0.5rem;
    border-bottom: 1px var(--wagwoord-main-color-light) solid;
}

section .password-list .data-container ul li:last-child {
    border-bottom: none;
}

section .password-list .data-container ul li .domain {
    width: calc(100% - 1rem);
    padding: 0.5rem;
}

section .password-list .data-container ul li .domain.title {
    font-size:1rem;
}

section .password-list .data-container ul li .domain.title:hover,
section .password-list .data-container ul li .domain.title:active,
section .password-list .data-container ul li .domain.title:focus {
    background-color: transparent;
}

section .password-list .data-container ul li .domain:hover,
section .password-list .data-container ul li .domain:active,
section .password-list .data-container ul li .domain:focus {
    background-color: var(--wagwoord-main-color-light)
}

section .password-list .data-container ul li .domain .data-action {
    display: none;
    padding: 0 0.2rem;
}

section .password-list .data-container ul li .domain .data-action.icon {
    margin-top: -0.4rem;
    font-size: 1.2rem;
}

section .password-list .data-container ul li .domain .data-action {
    cursor: pointer;
}

section .password-list .data-container ul li .domain:hover .data-action,
section .password-list .data-container ul li .domain:active .data-action,
section .password-list .data-container ul li .domain:focus .data-action {
    display: block;
} 

section .password-list .data-container ul li .item-actions {
    display: flex;
}

section .password-list .data-container ul li .item-actions button {
    margin-right: 0.5rem;
}

section .password-list .data-container ul li .item-actions button:last-child {
    margin-right: 0;
}

/* #endregion password-list */


/* #region password-form */

section .password-form {
    max-width: 40rem;
    width: 100%;
    min-width: 214px;
    position: fixed;
}

section .password-form form {
    width: 100%;
}

section .password-form form .form-actions {
    display: -webkit-box;
    padding: 1rem .5rem
}

section .password-form form .form-actions button {
    margin-left: 1rem
}

/* #endregion password-form */