<div ng-controller="BlacklistController as vm">
    <header>
        <ul class="horisontal">
            <li class="title">
                <h2>Blacklist</h2>
            </li>
            <li>
                <button class="icon" ng-click="vm.add()">
                    <span class="pre">+</span>
                    <span>Add</span>
                </button>
            </li>
            <li>
                <button class="icon" ng-click="vm.goToSettings()">
                    <settings-icon class="pre"></settings-icon>
                    <span>Settings</span>
                </button>
            </li>
            <li>
                <button class="error loader" ng-click="vm.deleteAll()">
                   <span class="text">Delete all</span>
                   <span ng-show="vm.deleteAllLoader" class="loader"></span>
                </button>
            </li>
        </ul>
    </header>
    <div class="content columns">
        <div class="column">
            <div app-list options="vm.listOptions" service="blacklist" class="password-list">
            </div>
        </div>
    </div>
    <dialog class="l main-color" id="{{vm.dialogId}}">
        <blacklist-form on-submit="vm.onFormSubmit()"></blacklist-form>
    </dialog>
    <confirmation-dialog message="Delete all? really?!" dialog-id="{{vm.deleteConfirmationDialogId}}" on-response="vm.deleteAll(response)"></confirmation-dialog>
</div>