<div ng-controller="BlacklistController as vm">
    <header>
        <ul class="horisontal">
            <li class="title">
                <h2>Blacklist</h2>
            </li>
            <li>
                <button class="icon">
                    <settings-icon class="pre"></settings-icon>
                    <span>+Add</span>
                </button>
            </li>
            <li>
                <button class="icon" ng-click="vm.goToSettings()">
                    <settings-icon class="pre"></settings-icon>
                    <span>Settings</span>
                </button>
            </li>
        </ul>
    </header>
    <div class="content columns">
        <div class="column">
            <div class="password-list">
                <div class="search-input">
                    <div class="input-container">
                        <input type="text" id="searchModel" name="searchModel" ng-model="vm.searchModel" autocomplete="off" aria-autocomplete="none" ng-change="vm.refreshPasswords()" placeholder="search">
                        <span ng-show="vm.blacklist.loading" class="loader"></span>
                        <button class="input-sufix" id='clear-search' ng-click="vm.searchModel = ''; vm.refreshPasswords()">x</button>
                    </div>
                </div>
                <div class="data-container">
                    <ul id="password-list">
                        <li class="text-center" ng-if="!vm.blacklist.data.length && !vm.blacklist.loading">
                            <h2>No data!</h2>
                        </li>
                        <li ng-repeat="item in vm.blacklist.data">
                            <div class="item-actions right">
                                <button ng-click="vm.edit(item)" class="icon text">
                                    <span>edit</span>
                                    <edit-icon class="suffix"></edit-icon>
                                </button>
                                <button ng-click="vm.delete(item)" class="icon text">
                                    <span>delete</span>
                                    <delete-icon class="suffix"></delete-icon>
                                </button>
                            </div>
                            <div class="hidden">
                                <span class="data-value">{{item.id}}</span>
                            </div>
                            <div class="domain title">
                                <span class="data-value">{{item.name}}</span>
                            </div>
                            <div class="item-actions">
                                <div class="form-item cbx">
                                    <input type="checkbox" ng-model="item.password" name="password" class="cbx hidden" ng-change="vm.save(item)" id="blacklist-password">
                                    <span class="lbl" ng-click="item.password = !item.password; vm.save(item)"></span>
                                    <label for="blacklist-password" class="">Password</label>
                                </div>
                                <div class="form-item cbx">
                                    <input type="checkbox" ng-model="item.address" name="address" class="cbx hidden" ng-change="vm.save(item)" id="blacklist-address">
                                    <span class="lbl" ng-click="item.address = !item.address; vm.save(item)"></span>
                                    <label for="blacklist-address" class="">Address</label>
                                </div>
                                <div class="form-item cbx">
                                    <input type="checkbox" ng-model="item.creditCard" name="creditCard" class="cbx hidden" ng-change="vm.save(item)" id="blacklist-creditCard">
                                    <span class="lbl" ng-click="item.creditCard = !item.creditCard; vm.save(item)"></span>
                                    <label for="blacklist-creditCard" class="">Credit card</label>
                                </div>
                                <div class="form-item cbx">
                                    <input type="checkbox" ng-model="item.codeGenerator" name="codeGenerator" class="cbx hidden" ng-change="vm.save(item)" id="blacklist-codeGenerator">
                                    <span class="lbl" ng-click="item.codeGenerator = !item.codeGenerator; vm.save(item)"></span>
                                    <label for="blacklist-codeGenerator" class="">Code generator</label>
                                </div>
                            </div>
                        </li>
                        <li class="text-center" ng-show="vm.blacklist.loading">
                            <loader size="10"></loader>
                        </li>
                        <li class="loadmore">
                            <input type="button" ng-if="vm.blacklist.data.length != vm.blacklist.total" ng-click="vm.loadmore()" value="Load more">
                            <span class="right">{{vm.blacklist.data.length}}/{{vm.blacklist.total}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>