<div ng-controller="BlacklistController as vm">
    <header>
        <ul class="horisontal">
            <li class="title">
                <h2>Blacklist</h2>
            </li>
            <li>
                <button class="icon">
                    <settings-icon class="pre" ng-click="vm.save()"></settings-icon>
                    <span>+Add</span>
                </button>
            </li>
            <li>
                <button class="icon" ng-click="vm.goToSettings()">
                    <settings-icon class="pre"></settings-icon>
                    <span>Settings</span>
                </button>
            </li>
        </ul>
    </header>
    <div class="content columns">
        <div class="column">
            <div app-list options="vm.listOptions" service="blacklist" class="password-list">
            </div>
        </div>
    </div>

    <dialog class="l main-color" style="width: 50rem;" id="{{vm.dialogId}}">
        <div ng-include="'/src/blacklist/form/blacklist-form.controller.html'"></div>
    </dialog>
</div>