<!DOCTYPE html>
<html>

<head>
    <link href="../assests/fontello/css/animation.css" rel="stylesheet">
    <link href="../assests/fontello/css/fontello.css" rel="stylesheet">
  <link href="../assests/css/app-defaults.css" rel="stylesheet">
  <link href="../assests/css/main.css" rel="stylesheet">
  <link href="../assests/css/password.css" rel="stylesheet">
  <link href="popup.css" rel="stylesheet">
</head>

<body ng-app="wwapp">
  <div ng-controller="PopUpMainController as vm">

    <section id="app-section">
      <div clss="section-content" ng-view></div>
    </section>
    <footer class="actions">
      <button ww-button pre="icon-blacklist" class="icon right" ng-click="vm.addTabToBlackList()" ng-if="!vm.tabBlacklisted" aria-label="Add to blacklist">
      </button>
      <button class="icon right" ww-button ng-click="vm.edit()" aria-label="Settings" aria-details="Go to settings" pre="icon-settings">
      </button>
    </footer>
  </div>
  <script src="../libs/dexie.min.js"></script>
  <script src="../libs/aes-min.js"></script>
  <script src="../libs/angular.min.js"></script>
  <script src="../libs/angular-route.min.js"></script>
  <script src="popup.js"></script>
  <script src="../src/common/base.service.js"></script>

  <script src="../src/common/directives/icons/show-hide-icon.directive.js"></script>

  <script src="../src/common/directives/notfication/notifications.directive.js"></script>
  <script src="../src/common/directives/notfication/notification.service.js"></script>
  <script src="../src/common/directives/loaders/loader.directive.js"></script>
  <script src="../src/common/directives/buttons/button.directive.js"></script>

  <script src="../src/passwords/services/password.service.js"></script>
  <script src="../src/passwords/form/password-form.controller.js"></script>
  <script src="../src/passwords/list/password-list.controller.js"></script>

  <script src="../src/blacklist/service/blacklist.service.js"></script>

  <script src="../src/settings/service/settings.service.js"></script>
  <script src="../src/util/database.service.js"></script>
  <script src="../src/util/proxy.service.js"></script>
  <script src="../src/util/encryption.service.js"></script>
</body>

</html>