
body {
    background: var(--wagwoord-main-color);
    color: var(--wagwoord-color);
    width: 15rem;
    /* max-height: 25rem; */
    min-height: 10rem;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

section .password-list .data-container {
    padding: 2.1rem 0;
}

footer {
    padding: 0.5rem;
    background-color: var(--wagwoord-main-color-light);
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
}

footer button {
    margin: 0 0.4rem;
}

footer button:first-child {
    margin-left: 0;
}

footer button:last-child {
    margin-right: 0;
}

section .password-list .data-container ul li .domain.title {
    font-size: unset;
}

/* #region header and futter */
