/* #region variables */
:root {
    --wagwoord-main-color: #1e1e1e;
    --wagwoord-main-color-light: #313131;
    --wagwoord-main-color-lighter: #525252;
    --wagwoord-color: aliceblue;
    --wagwoord-color-error-secend: #9c0404;
    --wagwoord-color-error: #5a0b0b;
    --wagwoord-color-success-secend: #006400;
    --wagwoord-color-success: #004d00;
    --wagwoord-color-info: rgb(0, 5, 68);
    --wagwoord-color-info-secend: #000080;

    --dialog-zindex: 99999;
    --h2: 1.5em;
}

@media(prefers-color-scheme: light) {
    :root {
        --wagwoord-main-color: #ffffff;
        --wagwoord-main-color-light: #F8F8FF;
        --wagwoord-main-color-lighter: #DCDCDC;
        --wagwoord-color: #1e1e1e;
    }
}

/* #endregion variables */