.list .data-container ul li .list-item .domain {
    width: calc(100% - 1rem);
    padding: 0.5rem;
}

.list .data-container ul li .list-item .domain.data.xl {
    font-size: 1.5em;
}

.list .data-container ul li .list-item .domain.data.xl .data-action {
    margin-top: auto;
}

.list .data-container ul li .list-item .domain.data img {
    height: 1em;
}

.list .data-container ul li .list-item .domain.title {
    font-size: 1rem;
}

.list .data-container ul li .list-item .domain.title:hover,
.list .data-container ul li .list-item .domain.title:active,
.list .data-container ul li .list-item .domain.title:focus {
    background-color: transparent;
}

.list .data-container ul li .list-item .domain:hover,
.list .data-container ul li .list-item .domain:active,
.list .data-container ul li .list-item .domain:focus {
    background-color: var(--wagwoord-main-color-light);
}

.list .data-container ul li .list-item .domain .data-action {
    display: none;
    padding: 0 0.2rem;
}

.list .data-container ul li .list-item .domain .data-action.icon {
    margin-top: -0.4rem;
    font-size: 1.2rem;
}

.list .data-container ul li .list-item .domain .data-action {
    cursor: pointer;
}

.list .data-container ul li .list-item .domain:hover .data-action,
.list .data-container ul li .list-item .domain:active .data-action,
.list .data-container ul li .list-item .domain:focus .data-action {
    display: block;
}

.list .data-container ul li .list-item .item-actions {
    display: flex;
}

.list .data-container ul li .list-item .item-actions button {
    margin-right: 0.5rem;
}

.list .data-container ul li .list-item .item-actions button:last-child {
    margin-right: 0;
}