<div ng-controller="PasswordListController as vm" class="password-list">
  <div class="search-input">
    <div class="input-container">
      <input type="text" id="searchModel" name="searchModel" ng-model="vm.searchModel" autocomplete="off" aria-autocomplete="none" ng-change="vm.refreshPasswords()" placeholder="search">
      <span ng-show="vm.passwords.loading" class="loader"></span>
      <button class="input-sufix" id='clear-search' ng-click="vm.searchModel = ''; vm.refreshPasswords()">x</button>
    </div>
  </div>
  <div class="data-container">
    <ul id="password-list">
      <li class="text-center" ng-if="!vm.passwords.data.length && !vm.passwords.loading">
        <h2>No data!</h2>
      </li>
      <li ng-repeat="item in vm.passwords.data">
        <div class="item-actions right">
          <button ng-click="vm.edit(item)" class="icon text">
            <span>edit</span>
            <edit-icon></edit-icon>
          </button>
          <button ng-click="vm.delete(item)" ng-if="vm.appenvirement != 'popup'" class="icon text">
            <span>delete</span>
            <delete-icon></delete-icon>
          </button>
        </div>
        <div class="hidden">
          <span class="data-value">{{item.id}}</span>
        </div>
        <div class="domain title">
          <span class="data-value">{{item.name}}</span>
        </div>
        <div class="domain data">
          <span class="data-value">{{item.username}}</span>
          <span class="data-action right" ng-click="vm.copy(item.username)" data="username">
            <copy-icon></copy-icon>
          </span>
        </div>
        <div class="domain data password">
          <span data="password" class="data-value">{{item.showPassword ? item.password : '•••••••'}}</span>
          <span class="data-action right" ng-click="vm.copy(item.password)">
            <copy-icon></copy-icon>
          </span>
          <span class="data-action right" data="password" ng-click="vm.showPassword(item)">
            <show-hide-icon show="item.showPassword"></show-hide-icon>
          </span>
        </div>
      </li>
      <li class="text-center" ng-show="vm.passwords.loading">
        <loader size="10"></loader>
      </li>
      <li class="loadmore">
        <input type="button" ng-if="vm.passwords.data.length != vm.passwords.total" ng-click="vm.loadmore()" value="Load more">
        <span class="right">{{vm.passwords.data.length}}/{{vm.passwords.total}}</span>
      </li>
    </ul>
  </div>
</div>