<div ng-controller="PasswordListController as vm" class="password-list">
  <div class="search-input">
    <div class="input-container">
      <input type="text" id="searchModel" name="searchModel" ng-model="vm.searchModel" autocomplete="off" aria-autocomplete="none" ng-change="vm.refreshPasswords()" placeholder="search">
      <span ng-show="vm.passwords.loading" class="loader"></span>
      <button class="input-sufix icon-cancel-alt-filled" id='clear-search' ng-if="vm.searchModel" ng-click="vm.searchModel = ''; vm.refreshPasswords()"></button>
      <button class="input-sufix icon-search" id='clear-search' ng-click="vm.refreshPasswords()"></button>
    </div>
  </div>
  <div class="data-container">
    <ul id="password-list">
      <li class="text-center" ng-if="!vm.passwords.list.length && !vm.passwords.loading">
        <h2>No data!</h2>
      </li>
      <li ng-repeat="item in vm.passwords.list">
        <div class="item-actions right">
          <button ng-click="vm.edit(item)" class="icon text">
            <span>edit</span>
            <i class="icon-pencil suffix"></i>
          </button>
          <button ng-click="vm.delete(item)" ng-if="vm.appenvirement != 'popup'" class="icon text">
            <span>delete</span>
            <i class="icon-delete suffix"></i>
          </button>
        </div>
        <div class="hidden">
          <span class="data-value">{{item.id}}</span>
        </div>
        <div class="domain title">
          <span class="data-value">{{item.name}}</span>
        </div>
        <div class="domain data">
          <span class="data-value">{{item.username}}</span>
          <span class="data-action right icon" ng-click="vm.copy(item.username)" data="username">
            <i class="icon-copy-1"></i>
          </span>
        </div>
        <div class="domain data password">
          <span data="password" class="data-value">{{item.showPassword ? item.password : '•••••••'}}</span>
          <span class="data-action right icon" ng-click="vm.copy(item.password)">
              <i class="icon-copy-1"></i>
          </span>
          <span class="data-action right" data="password" ng-click="vm.showPassword(item)">
            <show-hide-icon show="item.showPassword"></show-hide-icon>
          </span>
        </div>
      </li>
      <li class="text-center" ng-show="vm.passwords.loading">
        <loader size="10"></loader>
      </li>
      <li class="loadmore">
        <input type="button" ng-if="vm.passwords.list.length != vm.passwords.total" ng-click="vm.loadmore()" value="Load more">
        <span class="right">{{vm.passwords.list.length}}/{{vm.passwords.total}}</span>
      </li>
    </ul>
  </div>
  <confirmation-dialog ng-if="vm.appenvirement != 'popup'" message="Delete password?" dialog-id="{{vm.confirmationDialogId}}" params="vm.deleteResponseParams" on-response="vm.delete(response, params)"></confirmation-dialog>
</div>