<div  ng-controller="SettingsPasswordController as vm">
    <div class="form-item cbx">
        <input type="checkbox" ng-model="vm.model.autoSubmit" name="autoSubmit" class="cbx hidden" ng-change="vm.saveSettings('autoSubmit')" id="autoSubmitInput">
        <span class="lbl" ng-click="vm.model.autoSubmit = !vm.model.autoSubmit; vm.saveSettings('autoSubmit')"></span>
        <label for="autoSubmitInput" class="">Auto submit</label>
        <span ng-show="vm.savingautoSubmit" class="loader"></span>
    </div>
    
    <div class="form-item">
        <label for="settings-passwordLength">Password length (max 64)</label>
        <div class="input-container">
            <input id="settings-passwordLength" pattern="^([4-9]|[1-5][0-9]|6[0-4])$" min="2" ng-form-field valid="vm.fieldSettings.passwordLength.valid" placeholder="Defalut {{vm.fieldSettings.passwordLength.placeholder}}" name="passwordLength" ng-blur="vm.saveSettings('passwordLength')" ng-model="vm.model.passwordLength" type="number" max="64">
            <span ng-show="vm.savingpasswordLength" class="loader"></span>
        </div>
    </div>
    
    <div class="password-settings">
        <div class="form-item cbx right">
            <input type="checkbox" ng-model="vm.model.passworIncludeSymbolCharacters" name="passworIncludeSymbolCharacters" class="cbx hidden" ng-change="vm.saveSettings('passworIncludeSymbolCharacters', 'passwordSymbolCharacters')" id="passworIncludeSymbolCharactersInput">
            <span class="lbl" ng-click="vm.model.passworIncludeSymbolCharacters = !vm.model.passworIncludeSymbolCharacters; vm.saveSettings('passworIncludeSymbolCharacters', 'passwordSymbolCharacters')"></span>
            <label for="passworIncludeSymbolCharactersInput" class="">inclide characters</label>
            <span ng-show="vm.savingpassworIncludeSymbolCharacters" class="loader"></span>
        </div>
    
        <h2>Password Caracters</h2>
    
        <div class="form-item">
            <label for="settings-passwordSymbolCharacters">Charactes to include</label>
            <div class="input-container">
                <input ng-disabled="!vm.model.passworIncludeSymbolCharacters" ng-form-field valid="vm.fieldSettings.passwordSymbolsField.valid" id="settings-passwordSymbolCharacters" placeholder="defaut simbols {{vm.fieldSettings.passwordSymbolsField.placeHolder}}" name="passwordSymbolCharacters" ng-blur="vm.saveSettings('passwordSymbolCharacters')" ng-model="vm.model.passwordSymbolCharacters" ng-pattern="vm.fieldSettings.passwordSymbolsField.pattern" type="text">
                <span ng-show="vm.savingpasswordSymbolCharacters" class="loader"></span>
            </div>
        </div>
    </div>
    
    <div ng-click="vm.downloadPasswords()" class="form-item button">
        <button class="info loader">
            Download passwords
            <span ng-show="vm.downloadPasswordsLoader" class="loader"></span>
        </button>
    </div>
    <div ng-click="vm.deletePasswords()" class="form-item button">
        <button class="error">Delete all Passwords</button>
    </div>
    
    <div class="title">
        <h2>Import from json or csv</h2>
    </div>
    <div id="import-passwords-container">
        <input type="file" ng-file-select proccess-file-data="vm.proccessFileData" name="file" ng-model="vm.model.file" value="import json" class="hidden" accept=".json,.csv" id="settingsFileImport">
        <div ng-if="!vm.model || !vm.model.file || !vm.model.file.data || !vm.model.file.data.length" class="drag-drop empty" ng-click="vm.openFileImport()">
            <span class="empty">Click or drag and drop file here</span>
            <br>
            <span class="error">File is not valide</span>
        </div>
        <div ng-if="vm.model && vm.model.file && vm.model.file.data && vm.model.file.data.length" class="drag-drop full">
            <span>{{vm.model.file.name}}, {{vm.model.file.data.length}} passwords found</span>
            <div>
                <button ng-click="vm.savePasswords()" ng-disabled="vm.saveDisable" class="success">save</button>
                <button ng-click="vm.model.file = null; vm.saveDisable = false" class="error">reset</button>
            </div>
            <progress min=0 max="{{vm.model.file.data.length}}" value="0" id="password-upload-progress"></progress>
        </div>
    </div>
    
    
    <dialog id="confirmationDialog">
        <span>Are you sure you want to delete passwords</span>
        <div class="dialog-actions">
            <input ng-click="vm.deletePasswords(true)" type="button" class="success dialog-action" value="Yes">
            <input ng-click="vm.deletePasswords(false)" type="button" class="error dialog-action" value="No">
        </div>
    </dialog>
</div>