<style>
    .demo {
        overflow: auto;
    }

    .demo div.content {
        padding: 0 2rem;
        margin-top: 0;
    }

    .icon-font {
        font-size: 1rem;
    }

    .cards {
        padding: 0.5rem 0;
    }

    .icon-font .card {
        width: 11rem;
    }

    /* .the-icons:hover {
        background: var(--wagwoord-main-color-light);
        cursor: pointer;
    } */
</style>

<div ng-controller="DemoController as vm" class="demo">
    {{vm.title}}
    <br>
    <div class="content">
        <progress style="width: 250px; height: 20px;" value="50" min="0" max="100"></progress>
    </div>

    <div class="content">
        <h2>Buttons</h2>
        <hr>
        <button>Default</button>
        <button disabled>Default disabled</button>

        <button class="success">success</button>
        <button class="success" disabled>Default disabled</button>

        <button class="error">error</button>
        <button class="error" disabled>Default disabled</button>

        <button class="info">info</button>
        <button class="info" disabled>Default disabled</button>
        <br><br>
        <div class="cards">
            <button class="icon card">
                <settings-icon class="pre"></settings-icon>
                <span>Button icon</span>
                <settings-icon class="suffix"></settings-icon>
            </button>
            <button class="icon card">
                <settings-icon></settings-icon>
            </button>
            <button class="icon card">
                <i class="demo-icon icon-ok"></i>&nbsp;
                <span class="i-name">button text</span>
            </button>
            <button class="icon card">
                <i class="demo-icon icon-ok"></i>
            </button>
        </div>
        <div class="cards">
            <button ww-button pre="icon-ok" loader="vm.showLoader" text="Button directive"></button>
            <button ww-button pre="icon-ok" text="Button1 directive"></button>
        </div>
    </div>
    <div class="content">
        <h2>Input</h2>
        <hr>
        <div style="width: 50%" class="search-input">
            <div class="input-container">
                <input type="text" id="searchModel" name="searchModel" ng-model="vm.searchModel" ng-change="vm.refreshPasswords()" placeholder="search">
                <span ng-show="vm.showLoader" class="loader"></span>
                <button ww-button class="input-sufix" pre="icon-cancel-alt"></button>
                <button ww-button class="input-sufix" pre="icon-search"></button>
            </div>
        </div>

        <div style="width: 50%" class="search-input">
            <div class="input-container">
                <input type="text" id="searchModel" name="searchModel" ng-model="vm.searchModel" ng-change="vm.refreshPasswords()" placeholder="search">
                <span ng-show="vm.showLoader" class="loader"></span>
            </div>
        </div>

        <div class="cards">
            <button ng-click="vm.showLoader = !vm.showLoader" class="info loader card">
                toggle louder
                <span ng-show="vm.showLoader" class="loader"></span>
            </button>
            <button class="info icon card">
                <i class="demo-icon icon-spin4 animate-spin pre"></i>&nbsp;
                <span class="">icon-spin4</span>
            </button>
        </div>
    </div>


    <div class="content">
        <h2>Icons</h2>
        <hr>
        <div class="cards">
            <span class="card">
                <address-icon></address-icon>address-icon
            </span>
            <span class="card">
                <copy-icon></copy-icon>copy-icon
            </span>
            <span class="card">
                <credit-card-icon></credit-card-icon>credit-card-icon
            </span>
            <span class="card">
                <delete-icon></delete-icon>delete-icon
            </span>
            <span class="card">
                <edit-icon></edit-icon>edit-icon
            </span>
            <span class="card">
                <password-icon></password-icon>password-icon
            </span>
            <span class="card">
                <settings-icon></settings-icon>settings-icon
            </span>
            <span class="card">
                <show-hide-icon toggel="true"></show-hide-icon>show-hide-icon
            </span>
            <span style="background: white; color: black;" class="card">
                <!-- TODO: add sync methode -->
                <sync-icon></sync-icon>sync-icon
            </span>
        </div>
    </div>
    <div class="content icon-font">
        <h2>Icons font</h2>
        <hr>
        <div class="cards demo">
            <div class="the-icons card" title="Code: 0xe800">
                <i class="demo-icon icon-list-ok"></i>&nbsp;
                <span class="i-name">icon-list-ok</span>
            </div>
            <div class="the-icons card" title="Code: 0xe801">
                <i class="demo-icon icon-ok"></i>&nbsp;
                <span class="i-name">icon-ok</span>
            </div>
            <div class="the-icons card" title="Code: 0xe802">
                <i class="demo-icon icon-list"></i>&nbsp;
                <span class="i-name">icon-list</span>
            </div>
            <div class="the-icons card" title="Code: 0xe803">
                <i class="demo-icon icon-blacklist"></i>&nbsp;
                <span class="i-name">icon-blacklist</span>
            </div>
            <div class="the-icons card" title="Code: 0xe804">
                <i class="demo-icon icon-down"></i>&nbsp;
                <span class="i-name">icon-down</span>
            </div>
            <div class="the-icons card" title="Code: 0xe805">
                <i class="demo-icon icon-remove"></i>&nbsp;
                <span class="i-name">icon-remove</span>
            </div>
            <div class="the-icons card" title="Code: 0xe806">
                <i class="demo-icon icon-demo"></i>&nbsp;
                <span class="i-name">icon-demo</span>
            </div>
            <div class="the-icons card" title="Code: 0xe807">
                <i class="demo-icon icon-test"></i>&nbsp;
                <span class="i-name">icon-test</span>
            </div>
            <div class="the-icons card" title="Code: 0xe808">
                <i class="demo-icon icon-search"></i>&nbsp;
                <span class="i-name">icon-search</span>
            </div>
            <div class="the-icons card" title="Code: 0xe809">
                <i class="demo-icon icon-key"></i>&nbsp;
                <span class="i-name">icon-key</span>
            </div>
            <div class="the-icons card" title="Code: 0xe80a">
                <i class="demo-icon icon-delete"></i>&nbsp;
                <span class="i-name">icon-delete</span>
            </div>
            <div class="the-icons card" title="Code: 0xe80b">
                <i class="demo-icon icon-pencil"></i>&nbsp;
                <span class="i-name">icon-pencil</span>
            </div>
            <div class="the-icons card" title="Code: 0xe80d">
                <i class="demo-icon icon-card"></i>&nbsp;
                <span class="i-name">icon-card</span>
            </div>
            <div class="the-icons card" title="Code: 0xe80e">
                <i class="demo-icon icon-spin3 animate-spin"></i>&nbsp;
                <span class="i-name">icon-spin3</span>
            </div>
            <div class="the-icons card" title="Code: 0xe80f">
                <i class="demo-icon icon-bank"></i>&nbsp;
                <span class="i-name">icon-bank</span>
            </div>
            <div class="the-icons card" title="Code: 0xe810">
                <i class="demo-icon icon-blacklist-1"></i>&nbsp;
                <span class="i-name">icon-blacklist-1</span>
            </div>
            <div class="the-icons card" title="Code: 0xe811">
                <i class="demo-icon icon-settings"></i>&nbsp;
                <span class="i-name">icon-settings</span>
            </div>
            <div class="the-icons card" title="Code: 0xe813">
                <i class="demo-icon icon-database"></i>&nbsp;
                <span class="i-name">icon-database</span>
            </div>
            <div class="the-icons card" title="Code: 0xe814">
                <i class="demo-icon icon-network"></i>&nbsp;
                <span class="i-name">icon-network</span>
            </div>
            <div class="the-icons card" title="Code: 0xe815">
                <i class="demo-icon icon-author-sign"></i>&nbsp;
                <span class="i-name">icon-author-sign</span>
            </div>
            <div class="the-icons card" title="Code: 0xe816">
                <i class="demo-icon icon-file"></i>&nbsp;
                <span class="i-name">icon-file</span>
            </div>
            <div class="the-icons card" title="Code: 0xe817">
                <i class="demo-icon icon-sync-2"></i>&nbsp;
                <span class="i-name">icon-sync-2</span>
            </div>
            <div class="the-icons card" title="Code: 0xe818">
                <i class="demo-icon icon-015-time"></i>&nbsp;
                <span class="i-name">icon-015-time</span>
            </div>
            <div class="the-icons card" title="Code: 0xe819">
                <i class="demo-icon icon-theme"></i>&nbsp;
                <span class="i-name">icon-theme</span>
            </div>
            <div class="the-icons card" title="Code: 0xe81b">
                <i class="demo-icon icon-right"></i>&nbsp;
                <span class="i-name">icon-right</span>
            </div>
            <div class="the-icons card" title="Code: 0xe81c">
                <i class="demo-icon icon-sync-arrows"></i>&nbsp;
                <span class="i-name">icon-sync-arrows</span>
            </div>
            <div class="the-icons card" title="Code: 0xe81d">
                <i class="demo-icon icon-up"></i>&nbsp;
                <span class="i-name">icon-up</span>
            </div>
            <div class="the-icons card" title="Code: 0xe81e">
                <i class="demo-icon icon-synchronization"></i>&nbsp;
                <span class="i-name">icon-synchronization</span>
            </div>
            <div class="the-icons card" title="Code: 0xe81f">
                <i class="demo-icon icon-sync-1"></i>&nbsp;
                <span class="i-name">icon-sync-1</span>
            </div>
            <div class="the-icons card" title="Code: 0xe822">
                <i class="demo-icon icon-expand-arrow"></i>&nbsp;
                <span class="i-name">icon-expand-arrow</span>
            </div>
            <div class="the-icons card" title="Code: 0xe823">
                <i class="demo-icon icon-expand"></i>&nbsp;
                <span class="i-name">icon-expand</span>
            </div>
            <div class="the-icons card" title="Code: 0xe825">
                <i class="demo-icon icon-copy"></i>&nbsp;
                <span class="i-name">icon-copy</span>
            </div>
            <div class="the-icons card" title="Code: 0xe826">
                <i class="demo-icon icon-sync-warent"></i>&nbsp;
                <span class="i-name">icon-sync-warent</span>
            </div>
            <div class="the-icons card" title="Code: 0xe827">
                <i class="demo-icon icon-sync-disable"></i>&nbsp;
                <span class="i-name">icon-sync-disable</span>
            </div>
            <div class="the-icons card" title="Code: 0xe828">
                <i class="demo-icon icon-left"></i>&nbsp;
                <span class="i-name">icon-left</span>
            </div>
            <div class="the-icons card" title="Code: 0xe829">
                <i class="demo-icon icon-login"></i>&nbsp;
                <span class="i-name">icon-login</span>
            </div>
            <div class="the-icons card" title="Code: 0xe82a">
                <i class="demo-icon icon-logout"></i>&nbsp;
                <span class="i-name">icon-logout</span>
            </div>
            <div class="the-icons card" title="Code: 0xe82b">
                <i class="demo-icon icon-menu"></i>&nbsp;
                <span class="i-name">icon-menu</span>
            </div>
            <div class="the-icons card" title="Code: 0xe82c">
                <i class="demo-icon icon-qrcode"></i>&nbsp;
                <span class="i-name">icon-qrcode</span>
            </div>
            <div class="the-icons card" title="Code: 0xe82d">
                <i class="demo-icon icon-feather"></i>&nbsp;
                <span class="i-name">icon-feather</span>
            </div>
            <div class="the-icons card" title="Code: 0xe82e">
                <i class="demo-icon icon-cancel-alt"></i>&nbsp;
                <span class="i-name">icon-cancel-alt</span>
            </div>
            <div class="the-icons card" title="Code: 0xe82f">
                <i class="demo-icon icon-cancel-alt-filled"></i>&nbsp;
                <span class="i-name">icon-cancel-alt-filled</span>
            </div>
            <div class="the-icons card" title="Code: 0xe830">
                <i class="demo-icon icon-settings-1"></i>&nbsp;
                <span class="i-name">icon-settings-1</span>
            </div>
            <div class="the-icons card" title="Code: 0xe831">
                <i class="demo-icon icon-spin2 animate-spin"></i>&nbsp;
                <span class="i-name">icon-spin2</span>
            </div>
            <div class="the-icons card" title="Code: 0xe832">
                <i class="demo-icon icon-code"></i>&nbsp;
                <span class="i-name">icon-code</span>
            </div>
            <div class="the-icons card" title="Code: 0xe833">
                <i class="demo-icon icon-info"></i>&nbsp;
                <span class="i-name">icon-info</span>
            </div>
            <div class="the-icons card" title="Code: 0xe834">
                <i class="demo-icon icon-spin4 animate-spin"></i>&nbsp;
                <span class="i-name">icon-spin4</span>
            </div>
            <div class="the-icons card" title="Code: 0xe836">
                <i class="demo-icon icon-eye"></i>&nbsp;
                <span class="i-name">icon-eye</span>
            </div>
            <div class="the-icons card" title="Code: 0xe838">
                <i class="demo-icon icon-spin-1 animate-spin"></i>&nbsp;
                <span class="i-name">icon-spin-1</span>
            </div>
            <div class="the-icons card" title="Code: 0xe839">
                <i class="demo-icon icon-spin-2 animate-spin"></i>&nbsp;
                <span class="i-name">icon-spin-2</span>
            </div>
            <div class="the-icons card" title="Code: 0xe840">
                <i class="demo-icon icon-warehouse"></i>&nbsp;
                <span class="i-name">icon-warehouse</span>
            </div>
            <div class="the-icons card" title="Code: 0xf08e">
                <i class="demo-icon icon-open-link"></i>&nbsp;
                <span class="i-name">icon-open-link</span>
            </div>
            <div class="the-icons card" title="Code: 0xf0ec">
                <i class="demo-icon icon-exchange"></i>&nbsp;
                <span class="i-name">icon-exchange</span>
            </div>
            <div class="the-icons card" title="Code: 0xf12a">
                <i class="demo-icon icon-attention"></i>&nbsp;
                <span class="i-name">icon-attention</span>
            </div>
            <div class="the-icons card" title="Code: 0xf1f0">
                <i class="demo-icon icon-cc-visa"></i>&nbsp;
                <span class="i-name">icon-cc-visa</span>
            </div>
            <div class="the-icons card" title="Code: 0xf1f1">
                <i class="demo-icon icon-cc-mastercard"></i>&nbsp;
                <span class="i-name">icon-cc-mastercard</span>
            </div>
            <div class="the-icons card" title="Code: 0xf1f2">
                <i class="demo-icon icon-cc-discover"></i>&nbsp;
                <span class="i-name">icon-cc-discover</span>
            </div>
            <div class="the-icons card" title="Code: 0xf1f3">
                <i class="demo-icon icon-cc-amex"></i>&nbsp;
                <span class="i-name">icon-cc-amex</span>
            </div>
            <div class="the-icons card" title="Code: 0xf1f4">
                <i class="demo-icon icon-cc-paypal"></i>&nbsp;
                <span class="i-name">icon-cc-paypal</span>
            </div>
            <div class="the-icons card" title="Code: 0xf21b">
                <i class="demo-icon icon-user-secret"></i>&nbsp;
                <span class="i-name">icon-user-secret</span>
            </div>
            <div class="the-icons card" title="Code: 0xf24d">
                <i class="demo-icon icon-clone"></i>&nbsp;
                <span class="i-name">icon-clone</span>
            </div>
            <div class="the-icons card" title="Code: 0xf2a8">
                <i class="demo-icon icon-eye-close"></i>&nbsp;
                <span class="i-name">icon-eye-close</span>
            </div>
        </div>
    </div>

    <div class="content">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
            .center {
                width: 180px;
                height: 60px;
                position: absolute;
            }

            .btn {
                width: 180px;
                height: 60px;
                cursor: pointer;
                background: transparent;
                border: 1px solid #91C9FF;
                outline: none;
                transition: 1s ease-in-out;
            }

            svg#id {
                position: absolute;
                left: 0;
                top: 0;
                fill: none;
                stroke: #fff;
                stroke-dasharray: 150 480;
                stroke-dashoffset: 150;
                transition: 1s ease-in-out;
            }

            .btn:hover {
                transition: 1s ease-in-out;
                background: #4F95DA;
            }

            .btn:hover svg {
                stroke-dashoffset: -480;
            }

            .btn span {
                color: white;
                font-size: 18px;
                font-weight: 100;
            }
        </style>
        <div class="center">
            <button class="btn">
                <svg id="id" width="180px" height="60px" viewBox="0 0 180 60" class="border">
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                </svg>
                <span>HOVER ME</span>
            </button>
        </div>
    </div>
</div>