<div ng-controller="PasswordsMainController as vm" class="passwords">
    <header>
        <ul class="horisontal">
            <li class="title">
                    <h2>Passwords</h2>
            </li>
            <li>
                <button ww-button text="Sync" loader="vm.passwordSyncLoader" pre="icon-sync-1" ng-click="vm.sync()" class="loader" ng-disabled="vm.passwordSyncLoader">
            </li>
            <li>
                <button ww-button pre="icon-settings" class="icon" text="Settings" ng-click="vm.goToSettings()">
                </button>
            </li>
        </ul>
    </header>
    <div class="content columns">
        <div class="column" ng-include="'/src/passwords/list/password-list.controller.html'"></div>
        <div class="column" ng-include="'/src/passwords/form/password-form.controller.html'"></div>
    </div>
</div>