<div ng-controller="PasswordsMainController as vm" class="passwords">
    <header>
        <ul class="horisontal">
            <li class="title">
                    <h2>Passwords</h2>
            </li>
            <li>
                <button ng-click="vm.sync()" ng-disabled="vm.passwordSyncLoader" class="loader">
                    <span>Sync</span>
                    <span ng-show="vm.passwordSyncLoader" class="loader"></span>
                </button>
            </li>
            <li>
                <button ng-click="vm.goToSettings()">Settings</button>
            </li>
        </ul>
    </header>
    <div class="content columns">
        <div class="column" ng-include="'/src/passwords/list/password-list.controller.html'"></div>
        <div class="column" ng-include="'/src/passwords/form/password-form.controller.html'"></div>
    </div>
</div>