<div ng-controller="PasswordFormController as vm" class="password-form">
    <form id="passwordForm" name="passwordForm" novalidate>
        <div class="form-item">
            <label for="password-form-id">id</label>
            <div class="input-container">
                <input readonly name="id" ng-model="vm.model.id" id="password-form-id" type="text">
            </div>
        </div>
        <div class="form-item">
            <label for="password-form-name">name</label>
            <div class="input-container">
                <input id="password-form-name" maxlength="64" minlength="2" pattern="^[A-Za-z0-9_\-.@:]{1,64}$" name="name" required ng-form-field ng-model="vm.model.name" type="text">
            </div>
        </div>
        <div class="form-item">
            <label for="password-form-domain">domain</label>
            <div class="input-container">
                <input id="password-form-domain" name="domain" ng-model="vm.model.domain" type="text">
            </div>
        </div>
        <div class="form-item">
            <label for="password-form-username">username</label>
            <div class="input-container">
                <input id="password-form-username" name="username" ng-model="vm.model.username" type="text">
            </div>
        </div>
        <div class="form-item">
            <label for="password-form-password">password</label>
            <div class="input-container">
                <input id="password-form-password" name="password" ng-form-field ng-model="vm.model.password" type="password" required>
                <button ng-click="vm.showPassword()">
                    <show-hide-icon show="vm.showButtonLabel"></show-hide-icon>
                </button>
            </div>
            <div class="hint">
                <a id="password-form-password-generate" ng-click="vm.generatePassword()" class="right">Generate</a>
                <span id="password-form-password-hint">Lenght: {{vm.getPasswordLength()}}</span>
            </div>
        </div>
        <div class="form-item">
            <label for="password-form-wait-time">wait time (ms)</label>
            <div class="input-container">
                <input id="password-form-wait-time" name="waitTime" ng-model="vm.model.waitTime" type="number">
            </div>
        </div>
        <div class="form-item cbx">
            <input type="checkbox" ng-model="vm.model.synced" name="synced" class="cbx hidden" id="password-form-synced">
            <span class="lbl" ng-click="vm.model.synced = !vm.model.synced"></span>
            <label for="password-form-synced" class="">Sync</label>
        </div>
        <div class="form-actions right">
            <button type="submit" ng-disabled="vm.savingForm" id="password-form-save" class="success loader" ng-click="vm.save(passwordForm)">
                <span>Save</span>
                <span ng-show="vm.savingForm" class="loader"></span>
            </button>
            <button id="password-form-reset" ng-click="vm.resetForm(passwordForm)" class="error">Reset</button>
        </div>
    </form>
</div>